@import "colors.css";
@import "fonts.css";

*{
    padding: 0;
    margin: 0;
    font-family: openSansBold, serif;
    text-decoration: none;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.info {
    padding: 7px 9px;
    font-size: 0.75rem;
    width: 214px;
    height: auto;
    line-height: 15px;
    color: var(--white);
}

.fleet_hours {
    padding: 6px 9px;
    display: flex;
    width: 243px;
}
.fleet_hours.no--split .fleet_hours-upcoming {
    border-right: none;
}
.fleet_hours-upcoming {
    padding-right: 12px;
    border-right: 1px solid var(--light-gray);
}
.fleet_hours-title {
    font-size: 0.75rem;
    color: var(--white);
    line-height: 1;
    margin-bottom: 7px;
    text-transform: capitalize;
}
.fleet_hours-name {
    font-size: 0.625rem;
    color: var(--light-gray);
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.fleet_hours-time {
    font-size: 0.75rem;
    color: var(--white);
    line-height: 1;
}
.fleet_hours-Remaining {
    padding-right: 3px;
    padding-left: 12px;
    flex: 1;
}
.fleet_hours-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card--orange {
    background: var(--orange);
}
.text--l-orange {
    color: var(--light-orange);
}
.card--blue {
    background: var(--dark-blue);
}
.border-b-l{
    border-radius: 3px 3px 0 3px;
}
.border-b-r{
    border-radius: 3px 3px 3px 0;
}
.border-t-l {
    border-radius: 0 3px 3px 3px;
}
.border-t-r{
    border-radius: 3px 0 3px 3px;
}
